* {
  box-sizing: border-box;
  margin: 0;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.303), rgba(0, 0, 0, 1.377)) ,url("https://images.unsplash.com/photo-1560762484-813fc97650a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
    background-size: cover;
    text-align: center;
    
  }
  

.calculator {
  background-color: aliceblue;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  border: solid 1px #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-top: 40px;
}

#result{
    width: 100%;
    padding: 10px;
    font-size: 24px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset;
    border-radius: 5px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
}

button{
    padding: 10px;
    font-size: 24px;
    border: none;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2), -6px -6px 10px rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

button:hover{
    background-color: #81698a;
}

.clear{
    background-color: #e9271c;
    color: #fff;
}

.number, .decimal{
    background-color: #fff;
    color: #333;

}

.operator{
    background-color: #0048e7;
    color: #fff;
}

.equals{
    background-color: #00de88;
    grid-row: span 3;
    color: #fff;
}